*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #000;
}
li{
    list-style-type: none;
}

.logo{
    float: left;
}
nav{
    float: right;
}
nav ul{
    display: flex;
}
nav ul li{
    padding: 0 20px;
}

